/* Загальні стилі для навігаційної панелі та про мене */
.navigate {
    gap: 30px; /* Збільшуємо проміжок між елементами навігації */
}

.nav-item {
    font-size: 1vw; /* Зменшуємо розмір тексту навігаційних елементів */
}

.about {
    font-size: 25px; /* Зменшуємо розмір тексту про мене */
}

/* Додамо медіа-запит для навігаційної панелі та про мене */
@media (min-width: 768px) and (max-width: 1024px) {
    .navigate {
        gap: 20px;
    }
    
    .nav-item {
        font-size: 0.8vw;
    }

    .about {
        font-size: 20px;
    }
}
  

@media (orientation: portrait) {
      .navigate {
        gap: 20px;
    }
    
    .nav-item {
        font-size: 0.8vw;
    }

    .about {
        font-size: 20px;
    }
}

body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    overflow: auto;
}

.background {
    position: fixed;
    top: -20px;
    left: -20px;
    width: 120%;
    height: 120%;
    background-image: url('Обои.jpeg');
    background-size: cover;
    background-position: center;
    opacity: 1;
    pointer-events: none;
    z-index: -1;
}

.navigate {
    margin-top: 2%;
    gap: 20px;
    display: inline-flex;
}

.nav-item {
    padding: 10px;
    color: #F8F7F9;
    font-size: 18px;
    font-family: Dancing Script;
    font-size: 1.2vw;
    font-weight: 400;
    word-wrap: break-word;
}
.nav-item a{
    color: #F8F7F9;
}

.content {
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.content.active {
    display: block;
    opacity: 1;
}

.about {
    margin-top: 15%;  
    margin-bottom: 5%;
    width: 60%;
    height: 75%;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: Dancing Script;
    font-weight: 400;
    word-wrap: break-word;
}
