body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    overflow: auto;
}

.background {
    position: fixed;
    top: -20px;
    left: -20px;
    width: 120%;
    height: 120%;
    background-image: url('Обои.jpeg');
    background-size: cover;
    background-position: center;
    opacity: 1;
    pointer-events: none;
    z-index: -1;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .navigate {
        margin-top: 2%;
        position: center;
        display: center;
        gap: 10px;
        height: 15%;
        display: inline-flex;
    }
    
    .fs-4 {
        position: center;
        padding: 7px;
        color: #F8F7F9;
        font-size: 18px;
        font-family: Dancing Script, cursive;
        word-wrap: break-word;
    }
    
    .messagetext {
        margin-top: 170px;
        color: white;
        position: center;
        font-size: 6vw;
        font-family: Dancing Script, cursive;
        font-weight: 400;
        word-wrap: break-word;
    }
    
    .message.fs-4{
        color: #F8F7F9;
        font-size: 40px;
        gap: 20px;
        font-family: Dancing Script, cursive;
        font-weight: 400;
        word-wrap: break-word;
    }
    .message p {
        margin: 0;
    }
  }

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .navigate {
        margin-top: 2%;
        position: center;
        display: center;
        gap: 30px;
        height: 15%;
        display: inline-flex;
    }
    
    .fs-4 {
        padding: 10px;
        color: #F8F7F9;
        font-size: 25px;
        font-family: Dancing Script, cursive;
        word-wrap: break-word;
    }
    
    .messagetext {
        margin-top: 170px;
        color: white;
        font-size: 6vw;
        font-family: Dancing Script, cursive;
        font-weight: 400;
        word-wrap: break-word;
    }

    .message.fs-4{
        color: #F8F7F9;
        font-size: 50px;
        gap: 20px;
        font-family: Dancing Script, cursive;
        font-weight: 400;
        word-wrap: break-word;
    }
    
    .message p {
        margin: 0;
    }
    
  }

 @media screen and (min-width: 1025px) {
    .navigate {
        margin-top: 2%;
        position: center;
        display: center;
        gap: 30px;
        display: inline-flex;
    }
    
    .fs-4 {
        padding: 10px;
        color: #F8F7F9;
        font-size: 22px;
        font-family: Dancing Script, cursive;
        font-weight: 400;
        word-wrap: break-word;
    }
    
    .messagetext {
        margin-top: 170px;
        color: white;
        font-size: 4vw;
        font-family: Dancing Script, cursive;
        font-weight: 400;
        word-wrap: break-word;
    }

    .message.fs-4{
        color: #F8F7F9;
        font-size: 40px;
        gap: 20px;
        font-family: Dancing Script, cursive;
        font-weight: 400;
        word-wrap: break-word;
    }
    
    .message p {
        margin: 0;
    }

  }
