body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.background {
    position: fixed;
    top: -20px;
    left: -20px;
    width: 120%;
    height: 120%;
    background-image: url('Обои.jpeg');
    background-size: cover;
    background-position: center;
    opacity: 1;
    pointer-events: none;
    z-index: -1;
}

.navigate {
    margin-top: 2%;
    gap: 20px;
    display: inline-flex;
}

.nav-item {
    padding: 10px;
    color: #F8F7F9;
    font-size: 18px;
    font-family: Dancing Script;
    font-size: 1.2vw;
    font-weight: 400;
    word-wrap: break-word;
}
.nav-item a{
    color: #F8F7F9;
}

.messagetext {
    margin-top: 170px;
    color: white;
    font-size: 4vw;
    font-family: Dancing Script;
    font-weight: 400;
    word-wrap: break-word;
}

.message p {
    margin: 0;
}

.cytate {
    margin-top: 8%;
    margin-left: 1%;
    color: #F8F7F9;
    font-size: 3vw;
    font-family: Dancing Script;
    font-weight: 700;
    word-wrap: break-word;
}
